*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
  }

  /* Configurações do nav da página */

  #signup-btn{
    background-color: #62CACA;
    color: #000;
    width: 100px;
    height: 35px;
    margin-top: 5px;
    
  }
  #signup-btn a{
    text-decoration: none;
    color: #000;
  }

  #logotipo{
    width: 80px;
}


/* Configurações dos cards da página */
  

  .card{
    margin-top: 10px;
    bottom: 10px;
}

.card-body{
  margin-top: 10px;
  bottom: 10px;
  border: 1px solid #4654A3;
  display:block;
}


.card-text {
  color: #4654A3;
  font-size: 16px;
  
}


.card .btn {
    background-color: #4654A3;
    
}

.base_desc{
  background-color: #4654A3;
  color: #fff;
  text-align: center;
 
  
}

.conteudo_principal_titulo{
  font-weight: bold;
  text-align: center;
}
.card-header{
  background-color: #4654A3;
  text-decoration: none;
}

#headinOne{
  text-decoration: none;
}


.conteudo-sobre-imagem {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color:#62CACA;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.card-img-top {
  height: 326px;
}

.base_desc{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20vh;
  background-color: transparent;

}

.base_descricao_servicos{
  background-color: #4267b3;
  max-width: 700px;
  min-height: 20vh;
  padding: 2rem;
  border-radius: 20px;

}

.btn.btn-link.text-white{
  text-decoration: none;
  
}


/* Configurações do footer das páginas */

footer {
  width: 100%;
  color: #f5f5f5;
}

.cabecalho_logo{
  height: 135px;
  width: 140px;
  
}

.spacer {
  height: 57px; 
}

.footer_link {
  text-decoration: none;
}

#footer_content {
  background-color: #4654A3;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 5rem 3.5rem;
}

#footer_social_media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

#footer_social_media .footer_link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: #f5f5f5;
  border-radius: 50%;
}

#footer_social_media .footer_link i {
  font-size: 1.25rem;
}

#footer_social_media .footer_link :hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #25d366;
}

.footer_list {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  list-style: none;
}

.footer_list .footer_link {
  color: #a8a29e;
}

#footer_subscribe {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

#footer_subscribe .p {
  color: #a8a29e;
}

#input_group {
  display: flex;
  align-items: center;
  border-radius: 4px;
}

#input_group input {
  background-color: rgba(245, 245, 245, 0.201);
  color: #f5f5f5;
  border: none;
  padding: 0px 1.25rem;
  font-size: 1.1;
  height: 100%;
}

#input_group button {
  background-color: rgba(127, 255, 212, 0.232);
  color: #f5f5f5;
  border: none;
  padding: 0px 1.25rem;
  font-size: 1.1;
  height: 50px;
  cursor: pointer;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #62CACA;
  font-size: 0.9rem;
  padding: 0.5rem;
}


@media (max-width: 870px) {
  #footer_content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media (max-width: 698px) {
  #footer_content {
    grid-template-columns: repeat(1, 1fr);
    padding: 10px;
  }
}

#central_logo {
  display: flex;
  justify-content: center;
  align-items: center; 
}

